/major2/build/
/major2/nbproject/private/
/CompilerDesign/build/
/CompilerDesign/nbproject/private/
/GeeksforGeeks/build/
/GeeksforGeeks/nbproject/private/
/Hackerearth/build/
/Hackerearth/nbproject/private/
/Hackerrank/build/
/Hackerrank/nbproject/private/
/usefulcollection/build/
/usefulcollection/nbproject/private/
